@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
